<template>
    <div class="details">
        <fieldset>
            <legend>Name</legend>
            <input v-model="modified.name" type="textarea" @input="onChange" />
        </fieldset>
        <div class="expand">
            <legend>Description</legend>
            <textarea v-model="modified.description" @input="onChange" />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
            required: true,
        },
    },
    computed: {
        modified: {
            get() {
                return this.value;
            },
            set(modified) {
                this.$emit('input', modified);
            },
        },
    },
    methods: {
        onChange() {
            this.modified = { ...this.modified };
        },
    },
};
</script>

<style scoped>
.details {
    height: 100%;
    display: flex;
    flex-direction: column;
}
input,
textarea {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid #1670b100;
    background: #444;
    color: #fff;
}
input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #274d78;
}
input {
    font-weight: bold;
}
textarea {
    flex-grow: 1;
    position: relative;
    resize: none;
}
div.expand {
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
</style>
