<template>
    <div
        ref="container"
        :style="containerStyle"
        @dragover="dragOver($event)"
        @drop="drop($event)"
        class="sceneContainer"
    >
        <v-stage
            ref="stage"
            :config="stageConfig"
            @mousemove="emitMouseMove($event.currentTarget.getPointerPosition())"
            @wheel="onWheelZoom($event)"
        >
            <GameMat :renderContext="renderContext" :stage="stage"></GameMat>
            <v-layer ref="tokens">
                <PlayToken
                    ref="playTokens"
                    v-for="entity in mapTokens"
                    :key="entity._id"
                    :entity="entity"
                    :gridSpace="renderContext.gridSpace"
                    @moved="onTokenMoved"
                    @selected="onTokenSelected"
                    @deselected="onTokenDeselected"
                    @dblclick="onTokenEdited"
                />
            </v-layer>
            <DrawingLayer :renderContext="renderContext" :stage="stage" isDrawing="isDrawing"></DrawingLayer>
        </v-stage>
        <CharacterEditorWindow />
        <MapEditorWindow
            ref="mapEditor"
            @onChange="onMapSaved"
            @onAdd="onMapAdded"
            @onCancel="showMapEditor = false"
            @onDelete="onMapDeleted"
            v-show="showMapEditor"
        />
        <ProfileEditor />
        <ErrorDialog />
    </div>
</template>

<script>
import Vue from 'vue';
import VueKonva from 'vue-konva';
import Konva from 'konva';
import { mapGetters, mapState, mapActions } from 'vuex';

import xy from '@/table/utils/xy';
import panzoom from '@/table/utils/panzoom';

import SquareGrid from '@/core/grid/SquareGrid.js';
import GameMat from './GameMat.vue';
import ProfileEditor from '@/profile/components/ProfileEditor.vue';
import DrawingLayer from './DrawingLayer.vue';
import CharacterEditor from '@/characters/components/character-editor/CharacterEditor.vue';
import PlayToken from '@/characters/components/PlayToken';
import ErrorDialog from '@/common/components/ErrorDialog.vue';

import { MAP } from '@/maps/constants.js';
import MapEditorWindow from '@/maps/components/EditorWindow';

import { COLLECTION_TYPES } from '@/core/collections/constants';

import MapModel from '@/maps/map_model';
Vue.use(VueKonva);

export default {
    components: {
        CharacterEditorWindow: CharacterEditor,
        ErrorDialog: ErrorDialog,
        GameMat: GameMat,
        DrawingLayer: DrawingLayer,
        PlayToken: PlayToken,
        ProfileEditor: ProfileEditor,
        MapEditorWindow: MapEditorWindow,
    },
    data() {
        return {
            renderContext: {
                gridSpace: null,
                pixelRatio: 1,
            },
            viewport: {
                pos: { x: 0, y: 0 },
                size: { width: null, height: null },
                bounds: { n: 0, e: 0, s: 0, w: 0 },
                panzoom: new panzoom(),
            },
            selectedTokenId: '',
            drawingConfig: {
                isPaint: false,
                mode: 'brush',
                lastLine: null,
            },
            showMapEditor: false,
        };
    },
    computed: {
        ...mapState('gamestate', {
            entities: 'entities',
            activeMap: 'activeMap',
        }),
        ...mapState('drawing', {
            isDrawing: 'active',
        }),
        ...mapState('live', {
            connected: 'connected',
        }),
        ...mapGetters('gamestate/entities', {
            getEntityByRef: 'getEntityByRef',
            entities: 'tokens',
        }),
        ...mapGetters('collections', {
            getItem: 'getItem',
            maps: 'maps',
        }),
        ...mapGetters('tokens', {
            getTokensByMapId: 'getTokensByMapId',
        }),
        containerStyle() {
            return {
                'background-color': this.stage.color || '#121212',
            };
        },
        mapTokens() {
            const mapId = this.activeMap ? this.activeMap._id : null;
            if (!mapId) return [];
            return this.getTokensByMapId(mapId);
        },
        stageConfig: function() {
            return {
                draggable: true,
                size: this.viewport.size,
            };
        },
        stage: function() {
            return this.activeMap ? this.activeMap.stage : getDefaultStage();
        },
    },
    watch: {
        'stage.grid': {
            handler({ type, size }) {
                if (type !== 'square') {
                    if (process.env.NODE_ENV !== 'production') {
                        console.warn('Only square grids are currently supported');
                    }
                    type = 'square';
                }
                size = MAP.MAGIC_SCALE;
                let gridSpace = this.renderContext.gridSpace;
                this.renderContext.gridSpace =
                    gridSpace && gridSpace.type === type ? gridSpace.withSize(size) : new SquareGrid(size);
            },
            deep: true,
            immediate: true,
        },
        connected: async function() {
            if (this.connected) {
                await this.loadTokens();
            }
        },
        activeMap() {
            if (this.activeMap) {
                let frame = {
                    n: 0,
                    w: 0,
                    s: this.activeMap.stage.bounds.se.r + 1,
                    e: this.activeMap.stage.bounds.se.q + 1,
                };
                if (this.activeMap.hasOwnProperty('start')) {
                    frame = this.activeMap.start;
                }
                const gridSpace = this.renderContext.gridSpace;
                const position = gridSpace.gridToStage({ q: -frame.w, r: -frame.n, pa: 'nw' });
                const desiredGridHeight = this.viewport.size.height / (frame.s - frame.n);
                const desiredGridWidth = this.viewport.size.width / (frame.e - frame.w);
                const finalGridSize = Math.min(desiredGridHeight, desiredGridWidth);
                this.renderContext.gridColor = this.activeMap.stage.grid.color;
                this.renderContext.gridFullness = this.activeMap.stage.grid.lineFullness;

                const stage = this.$refs.stage.getNode();
                stage.position(position);
                this.renderContext.gridSpace = gridSpace.withSize(finalGridSize);
            }
        },
        receivedLines: {
            handler(lines) {
                console.log('line update received', JSON.stringify(lines, 4));
                // Filter list to lines that don't already exist
                let existingIds = this.$refs.drawingcanvas
                    .getNode()
                    .getLayer()
                    .getChildren()
                    .map(shape => shape.id);
                lines
                    .filter(line => !existingIds.includes(line.id))
                    .forEach(line => {
                        this.$refs.drawingcanvas
                            .getNode()
                            .getLayer()
                            .add(Konva.Node.create(line));
                    });
                this.$refs.drawingcanvas
                    .getNode()
                    .getLayer()
                    .batchDraw();
                console.log(this.$refs.drawingcanvas.getNode().getLayer());
            },
        },
        isDrawing: {
            handler(isDrawing) {
                this.$refs.stage.getStage().draggable(!isDrawing);
            },
        },
    },
    created() {
        this.renderContext.pixelRatio = window.devicePixelRatio || 1;
    },
    mounted() {
        window.addEventListener('keyup', this.onKeyUp);
    },
    destroyed() {
        window.removeEventListener('keyup', this.onKeyUp);
    },
    methods: {
        ...mapActions('tokens', {
            addToken: 'add',
            loadTokens: 'load',
        }),
        ...mapActions('characters', {
            openCharacterEditor: 'openEditor',
        }),
        emitMouseMove(sPos) {
            const offset = this.viewport.pos;
            const stagePos = {
                x: sPos.x + offset.x,
                y: sPos.y + offset.y,
            };
            this.$emit('mousemove', {
                stage: stagePos,
                grid: this.renderContext.gridSpace.stageToGrid(stagePos),
            });
        },
        //Map
        ...mapActions('collections', {
            loadMaps: 'loadMaps',
            updateMap: 'update',
            addMap: 'add',
            removeMap: 'remove',
        }),
        onMapAdded({ map }) {
            this.showMapEditor = false;
            this.$store.dispatch('analytics/pushEvent', {
                event: { category: 'CampaignMap', action: 'AddMap', name: map.name, value: map._id },
            });
            this.addMap({ collection: COLLECTION_TYPES.maps, item: map });
        },
        onMapSaved({ id, patch }) {
            this.showMapEditor = false;
            this.updateMap({ collection: COLLECTION_TYPES.maps, id, patch });
        },
        onMapDeleted({ mapId }) {
            this.showMapEditor = false;
            this.removeMap({ collection: COLLECTION_TYPES.maps, id: mapId });
        },
        onMapAdd: function() {
            this.showMapEditor = true;
            const map = MapModel;
            this.$refs.mapEditor.saveButton = 'Add';
            this.$refs.mapEditor.showDelete = false;
            this.$refs.mapEditor.map = map;
        },

        onMapEdit: function({ map }) {
            this.showMapEditor = true;
            this.$refs.mapEditor.saveButton = 'Save';
            this.$refs.mapEditor.showDelete = true;
            this.$refs.mapEditor.map = map;
        },

        fitToContainer() {
            const container = this.$refs.container;
            const rect = container.getClientRects()[0];
            this.viewport.size = {
                height: Math.floor(rect.height),
                width: Math.floor(rect.width),
            };
        },
        onTokenMoved: function({ entity, position }) {
            const gridPos = this.renderContext.gridSpace.stageToGrid(position);
            const snappedPos = this.renderContext.gridSpace.gridToAnchor(gridPos);

            this.$store.dispatch('analytics/pushEvent', {
                event: { category: 'CampaignMap', action: 'CharacterMoved', name: entity },
            });

            this.$store.dispatch('tokens/moveToken', {
                ...entity,
                pos: snappedPos,
            });

            this.$emit('tokenmove', {
                entity,
                pos: snappedPos,
            });
        },
        onTokenSelected: function({ entity }) {
            if (this.selectedTokenId === '') {
                this.selectedTokenId = entity._id;
            } else if (this.selectedTokenId !== entity._id) {
                let oldSelectedTokenId = this.selectedTokenId;
                let oldToken = this.$refs['playTokens'].find(token => token.entity._id === oldSelectedTokenId);
                oldToken.selected = false;
                this.selectedTokenId = entity._id;
            } else {
                return;
            }
            this.updateSelectedTokenStore();
        },
        onTokenDeselected: function() {
            this.selectedTokenId = '';
            this.updateSelectedTokenStore();
        },
        onTokenEdited: function({ character }) {
            this.openCharacterEditor(character);
        },
        updateSelectedTokenStore() {
            this.$store.commit('gamestate/selectedTokenUpdate', this.selectedTokenId);
        },
        onKeyUp: function(event) {
            if (event.key == 'Delete') {
                this.onDelete();
            }
        },
        onDelete() {
            var tokenIdToBeDeleted = this.selectedTokenId;
            this.onTokenDeselected();
            this.$store.dispatch('tokens/remove', {
                id: tokenIdToBeDeleted,
            });
        },
        onWheelZoom(event) {
            event.evt.preventDefault();
            const stage = event.currentTarget;
            const delta = event.evt.deltaY > 0 ? -200 : 200;

            if (event.evt.deltaY == 0) {
                return;
            }

            const viewAnchor = xy(stage.getPointerPosition());

            let baseScale = stage.scaleX();
            let newScale = stage.scaleX() * (1 + delta / 500);

            let gridSpace = this.renderContext.gridSpace;

            // Clamp new grid size between 10 and 8 times base size
            let scaledGridSize = Math.max(10, Math.min(gridSpace.base.size * 8, gridSpace.size * newScale));
            if (scaledGridSize == gridSpace.size) return;

            // Apply grid size clamping back to scale value
            newScale = scaledGridSize / gridSpace.size;

            // Calculate target stage position relative to anchor
            let offset = viewAnchor.subtract(stage.position());

            // Calculate correction required to have integer grid size
            let finalGridSize = delta > 0 ? Math.ceil(scaledGridSize) : Math.floor(scaledGridSize);
            let correctedScale = finalGridSize / gridSpace.size;
            let correctedPos = viewAnchor.subtract(offset.multiply(correctedScale / baseScale));

            this.viewport.panzoom.startCorrection({
                node: stage,
                position: { x: Math.round(correctedPos.x), y: Math.round(correctedPos.y) },
                scale: correctedScale,
                finish: () => {
                    stage.scale({ x: 1, y: 1 });
                    this.renderContext.gridSpace = gridSpace.withSize(finalGridSize);
                },
            });
        },

        dragOver(e) {
            if (this.$store.getters['dropper/ready']) {
                e.preventDefault();
            }
        },

        drop(e) {
            if (this.$store.getters['dropper/ready']) {
                e.preventDefault();
                const stagePos = this.$refs.stage.getNode().position();
                const gridPos = this.renderContext.gridSpace.stageToGrid({
                    x: e.clientX - stagePos.x,
                    y: e.clientY - stagePos.y,
                });
                const snappedPos = this.renderContext.gridSpace.gridToAnchor(gridPos);

                const character = this.$store.getters['dropper/draggedItem'];
                console.log('Dropping', character);
                this.$store.dispatch('analytics/pushEvent', {
                    event: {
                        category: 'CampaignMap',
                        action: 'AddCharacterToMap',
                        name: character.name,
                        value: character.id,
                    },
                });

                this.$store.dispatch('tokens/spawn', {
                    ...character,
                    pos: snappedPos,
                    mapId: this.activeMap ? this.activeMap._id : null,
                });
                this.$store.dispatch('dropper/reset');
            }
        },
    },
};

const getDefaultStage = () => {
    return {
        bounds: { nw: { q: 0, r: 0 }, se: { q: 49, r: 49 } },
        color: '#121212',
        grid: { type: 'square', size: 50 },
    };
};
</script>

<style>
.sceneContainer {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
}
</style>
