<template>
    <div class="chat-card">
        <div class="main-message">
            <img id="profile-picture" class="profile-image-adjustments" :src="getImage(userId)" alt="" />
            <div id="message-body">
                <div id="username">
                    {{ username }}
                </div>
                <div id="message-content">
                    <span
                        v-for="(element, index) in message.elements"
                        v-bind:key="index"
                        v-bind:class="elementClasses(element)"
                        >{{ transformRollText(element) }}</span
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    props: {
        username: {
            type: String,
            required: true,
        },
        message: {
            type: Object,
            default: function() {
                return { message: '', elements: [], dice: [] };
            },
        },
        userId: {
            type: String,
            required: true,
        },
    },
    computed: {
        ...mapGetters('profile', {
            getImage: 'getImage',
            getProfile: 'getProfile',
        }),
        rolls() {
            console.log(this.message);
            return this.message.dice;
        },
    },
    created: async function() {
        if (!this.getProfile(this.userId)) {
            await this.loadProfile(this.userId);
        }
    },
    methods: {
        ...mapActions('profile', {
            loadProfile: 'load',
        }),
        elementClasses(element) {
            if (element.results) return 'highlight';
            return '';
        },
        transformRollText(element) {
            if (element.results) {
                return `${element.results.formula} = ${element.results.result}`;
            }
            return element.text;
        },
    },
};
</script>

<style scoped>
.chat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-card .main-message {
    color: #fff;
    padding: 15px 20px;
    background: #1c1c1c;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.chat-card .main-message #profile-picture {
    height: 50px;
    width: 50px;
}
.chat-card .main-message #message-body {
    width: 100%;
    word-wrap: break-word;
    padding-left: 15px;
    font-weight: 400;
}
.chat-card .main-message #message-body #username {
    font-weight: 600;
    padding-bottom: 5px;
}
</style>
// Global styles
<style>
.highlight {
    background: #444444;
    border: 3px #1b1b1b;
    padding: 2px 5px;
    border-radius: 5px;
    display: inline;
}
</style>
