<template>
    <div class="chat-log">
        <div class="log" v-chat-scroll="{ always: false, smooth: true, notSmoothOnInit: true }">
            <ChatItem
                v-for="message in textOutput"
                :key="message.id"
                v-bind:username="message.displayName"
                v-bind:message="message.result"
                v-bind:userId="message.userId"
            />
        </div>
        <div class="footer">
            <ChatInput />
        </div>
    </div>
</template>

<script>
import ChatInput from './ChatInput';
import ChatItem from './ChatItem';
import { mapGetters } from 'vuex';

export default {
    components: {
        ChatInput: ChatInput,
        ChatItem: ChatItem,
    },
    computed: {
        ...mapGetters('profile', {
            getImage: 'getImage',
        }),
        rollLog() {
            return this.$store.getters['gamestate/rollLog'];
        },
        textOutput() {
            let output = [];
            for (const diceResult of this.rollLog) {
                output.push(diceResult);
            }
            return output;
        },
    },
};
</script>

<style scoped>
.chat-log {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: stretch;
    width: 100%;
}

.chat-log .log {
    overflow-y: auto;
    height: 100%;
}
.chat-log .log .chat-card {
    padding: 5px 0px;
}
.chat-log .footer {
    padding: 7px;
    transition: all 1s;
}
.log {
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
</style>
